$topbar-height: 4.45rem;
$sidebar-width: 11.5rem;

.main-layout {
    height: 100%;
    overflow: hidden;
}

.top-bar-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.side-bar-wrapper {
    position: fixed;
    top: $topbar-height;
    left: 0;
    bottom: 0;

    width: $sidebar-width;
    padding-right: 1px;

    overflow-y: auto;
    overflow-x: hidden;

    z-index: 1;
}

.content-wrapper {
    position: fixed;
    top: $topbar-height;
    left:$sidebar-width;
    right: 0;
    bottom: 0;
    overflow: auto;
}
